---
path_part:
    # available variables: %project_root%
    path: '%project_root%/downloads'
    priority: -255

runs:
    -
        Extension\Trello\Trello:
            config: []
            platforms:
                -
                    Extension\YouTube\YouTube: []
