---
enabled: true

path_part:
    # available variables: %project_root%
    path: '%project_root%/downloads'
    priority: -255

sources:
    -
        Extension\Trello\Trello:
            board_id: ~ # this needs to be filled in!

processors:
    -
        Extension\YouTubeDl\YouTubeDl: ~
